@import "config/variables";
@import "config/mixins";

@import "theme/variables";

/*	GENERAL CLASSES	*/
code[class*="language-"] {
	display: inline-block;
	font-family: $font-family-code !important;
	text-shadow: none !important;
}

pre {
	font-family: $font-family-code !important;
}

:not(pre)>code[class*="language-"] {
	padding: 0.15em 0.3em !important;
	font-size: 0.9em !important;
	line-height: 1.11em !important;
	font-weight: 700;
}

.tut-block {
	border: 1px solid #ccc;
	padding: 0.5em;
}

.label-engine {
	background-color: #1d5b8f;
	border-left-color: #3b90d7;
}

.label-theme {
	background-color: #367334;
	border-left-color: #5cb459;
}

.label-actions {
	background-color: #733434;
	border-left-color: #b45959;
}

.label-plugins {
	background-color: #706f33;
	border-left-color: #b2b257;
}

.label-group {
	margin-bottom: 0.8em;
	margin-left: 1em;
	float: right;
}

.label-group .label {
	display: block;
	margin-bottom: 0.2em;
}

.material-icons {
	vertical-align: -25%;
}

@keyframes reveal_tutorial {
	from {
		transform: scale(0.5);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.reveal-tutorial {
	animation: reveal_tutorial 1s ease-in-out;
	height: 30vh;
	visibility: hidden;
}

/*	HOME	*/
#home-main {
	padding: 5vw 0;
	background-image: linear-gradient(to bottom right, mix(white, $color-secondary, 80), mix(white, $color-primary, 60));

	// background-image: url('../images/coal.jpg');
	h1 {
		color: $color-text;
		text-transform: uppercase;
		font-weight: 400;
	}
}

#home-features {
	text-align: center;

	i {
		font-size: 4em;
		color: $color-text-inverted;
		padding: 0.3em;
	}

	p {
		text-align: center;
	}
}

#home-buttons {
	padding: 6vw 0;
	background: transparent url('../images/coal.jpg') no-repeat 50% 50%;
	background-size: cover;

	.btn {
		font-size: 2em;
	}

	.tagline {
		font-size: 1.5em;
		text-align: center;
		color: white;
		font-weight: 700;
	}
}
