.alert {
	padding: 1em;
	border-radius: $border-radius-box;

	@each $theme,
	$color in (primary, $color-primary),
	(secondary, $color-secondary),
	(accent, $color-accent),
	(success, $color-success),
	(error, $color-error),
	(warning, $color-warning),
	(info, $color-info),
	(neutral, $color-neutral),
		{
		&-#{$theme} {
			background-color: mix($color, $color-bg, 30);
			color: mix($color, $color-text, 30);

			>i {
				color: $color;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				color: inherit;
			}
		}
	}

	>* {
		margin-bottom: 0;

		+* {
			margin-left: 1em;
		}
	}

	.alert-dismiss {
		cursor: pointer;
		margin-left: auto;
		font-size: 0.8em;
	}
}
