* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: $header-height-s;

	@include breakpoint(m) {
		scroll-padding-top: $header-height-m;
	}

	@include breakpoint(l) {
		scroll-padding-top: $header-height-l;
	}

	@include breakpoint(h) {
		scroll-padding-top: $header-height-h;
	}
}

a {
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

main,
section {
	padding-top: 3em;
	padding-bottom: 3em;
}

hr {
	margin: 0;
	border: 0;
	height: 1px;
	background-color: mix($color-text, $color-bg, 20);
	background-clip: content-box;
}
