.breadcrumb {
	display: flex;
	align-items: center;
	padding: 0.5em;
	margin-bottom: 1em;
	font-size: 0.9em;
	list-style: none;
	background-color: mix(invert($color-bg), $color-bg, 5);

	>li {
		display: flex;
		align-items: center;
		margin: 0;

		a {

			&,
			&:visited {
				color: $color-primary;
				font-weight: 400;
				transition: color $animation-timing;
			}

			&:hover,
			&:focus,
			&:active {
				color: $color-secondary;
			}
		}

		&:after {
			content: '/';
			margin: 0 1em;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}

	i {
		vertical-align: middle;
		font-size: 1.5em;
		line-height: 1em;
		display: block;
	}
}
