.btn {
	cursor: pointer;
	text-align: center;
	padding: 0.5em;
	line-height: 1em;
	font-size: 1em;
	display: inline-block;
	font-weight: 700;
	color: $color-text;
	background-color: mix($color-text, $color-bg, 20);
	border: $border-size-button solid mix($color-text, $color-bg, 30);
	border-radius: $border-radius-button;
	transition: color $animation-timing, background-color $animation-timing, border-color $animation-timing;

	&:visited {
		color: $color-text;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-text;
		background-color: mix($color-text, $color-bg, 5);
		border-color: mix($color-text, $color-bg, 10);
	}

	i {
		font-size: 1.5em;
	}

	@each $theme, $color in (primary, $color-primary), (secondary, $color-secondary), (accent, $color-accent), (success, $color-success), (error, $color-error), (warning, $color-warning), (info, $color-info), (neutral, $color-neutral) {
		&-#{$theme} {
			color: $color-text-inverted;
			background-color: $color;
			border-color: mix($color, invert($color-bg), 80);

			&:visited {
				color: $color-text-inverted;
			}

			&:hover,
			&:focus,
			&:active {
				color: $color-text-inverted;
				background-color: mix($color, $color-bg, 60);
				border-color: mix($color, $color-bg, 80);
			}
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
	}
}

.btn-group {
	display: flex;
	overflow: hidden;
	border-radius: $border-radius-button;

	.btn {
		border-radius: 0;

		&:first-child {
			border-radius: $border-radius-button 0 0 $border-radius-button;
		}

		&:last-child {
			border-radius: 0 $border-radius-button $border-radius-button 0;
		}
	}

	&.vertical {
		display: inline-block;
		flex-direction: column;

		.btn {
			display: block;

			&:first-child {
				border-radius: $border-radius-button $border-radius-button 0 0;
			}

			&:last-child {
				border-radius: 0 0 $border-radius-button $border-radius-button;
			}
		}
	}
}

button.btn {
	cursor: pointer;
}
