.card {
	border-radius: $border-radius-box;
	background-color: $color-bg;
	overflow: hidden;
	@include shadow(2);

	&.card-hover {
		@include animated;

		&:hover {
			@include shadow(8);
		}
	}

	.card-content {
		padding: $card-padding;
		border-radius: $border-radius-box;
	}
}
