.form-input {
	font-family: $font-family-text;
	font-weight: $font-weight-base;
	font-size: 1em;
	padding: $form-padding-vertical $form-padding-horizontal;
	margin-bottom: 0.5em;
	color: $color-text;
	border-radius: $border-radius-form;
	border: $border-size-form solid $form-border-color;
	background-color: $color-bg;
	transition: border-color $animation-timing;
	outline: none;

	&:hover,
	&:focus {
		border: 1px solid $color-secondary;
	}

	&::placeholder {
		color: mix($color-text, $color-bg, 75);
	}

	&:last-child {
		margin-bottom: 0;
	}
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
	{
	&.form-input {
		line-height: $form-line-height;
		height: $form-height;
	}
}

label {
	font-weight: $font-weight-base + 200;
	display: block;
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

.form-checkbox,
.form-radio {
	position: relative;
	line-height: $form-line-height;
	height: $form-line-height;
	padding: 0;
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}

	&::before {
		content: '';
		position: absolute;
		width: $form-line-height;
		height: $form-line-height;
		top: 0;
		left: 0;
		border: $border-size-form solid $form-border-color;
		background-color: mix(invert($color-bg), $color-bg, 5);
		pointer-events: none;
		border-radius: $border-radius-form;
		box-sizing: border-box;
		@include animated;
	}

	&::after {
		content: '';
		position: absolute;
		width: $form-line-height / 2;
		height: $form-line-height / 2;
		top: $form-line-height / 4;
		left: $form-line-height / 4;
		background-color: $color-primary;
		border-radius: $border-radius-form;
		pointer-events: none;
		transform: scale(0);
		transform-origin: 50% 50%;
		@include animated(0.2s);
	}

	&:hover,
	&.has-focus {
		&::before {
			border-color: $color-secondary;
		}
	}

	&.checked {
		&:after {
			transform: scale(1);
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		cursor: pointer;
		height: $form-line-height;
		width: $form-line-height;
		vertical-align: top;
		margin-right: 0.5em;
		font-size: inherit;
	}

	label {
		display: inline-block;
	}
}

.form-radio {

	&:before,
	&:after {
		border-radius: 50%;
	}
}

.form-file {
	position: relative;
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}

	input[type="file"] {
		width: 100%;
		opacity: 0;
		font-size: 1em;
		height: $form-height;
		cursor: pointer;

		&:hover,
		&:focus,
		&.has-focus {
			+label {
				border: $border-size-form solid $color-secondary;
			}
		}
	}

	label {
		font-family: $font-family-text;
		font-weight: $font-weight-base;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: $form-padding-vertical $form-padding-horizontal;
		margin: 0;
		line-height: $form-line-height;
		border-radius: $border-radius-form;
		border: $border-size-form solid $form-border-color;
		background-color: $color-bg;
		transition: border-color $animation-timing;
		outline: none;
		pointer-events: none;

		&:hover,
		&:focus {
			border: $border-size-form solid $color-secondary;
		}
	}
}
