.cont,
.cont-full {
	padding-left: $grid-space;
	padding-right: $grid-space;

	&-exp {
		padding-left: $grid-space-exp;
		padding-right: $grid-space-exp;
	}

	&-con {
		padding-left: $grid-space-con;
		padding-right: $grid-space-con;
	}
}

.row {
	margin-left: -$grid-space;
	margin-right: -$grid-space;

	[class*=' col-'],
	[class^='col-'] {
		padding-right: $grid-space;
		padding-left: $grid-space;
	}

	&-exp {
		margin-left: -$grid-space-exp;
		margin-right: -$grid-space-exp;

		[class*=' col-'],
		[class^='col-'] {
			padding-right: $grid-space-exp;
			padding-left: $grid-space-exp;
		}
	}

	&-con {
		margin-left: -$grid-space-con;
		margin-right: -$grid-space-con;

		[class*=' col-'],
		[class^='col-'] {
			padding-right: $grid-space-con;
			padding-left: $grid-space-con;
		}
	}
}

.grid {
	gap: $grid-space;

	[class*=' col-'],
	[class^='col-'] {
		padding-right: initial;
		padding-left: initial;
	}

	&-exp {
		gap: $grid-space-exp;
	}

	&-con {
		gap: $grid-space-con;
	}
}

.row-fill {
	[class*=' col-'],
	[class^='col-'] {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 0;
	}
}

.grid-fill {
	gap: 0;
}
