.header {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Chrome and Opera */
	padding: ($header-height-s - $navbar-height-s)/2 0;

	.logo {
		height: $navbar-height-s;

		>img {
			height: $navbar-height-s;
		}
	}

	@include breakpoint(m) {
		height: $header-height-m;
		padding: ($header-height-m - $navbar-height-m)/2 0;

		.logo {
			height: $navbar-height-m;

			>img {
				height: $navbar-height-m;
			}
		}
	}

	;

	@include breakpoint(l) {
		height: $header-height-l;
		padding: ($header-height-l - $navbar-height-l)/2 0;

		.logo {
			height: $navbar-height-l;

			>img {
				height: $navbar-height-l;
			}
		}
	}

	;

	@include breakpoint(h) {
		height: $header-height-h;
		padding: ($header-height-h - $navbar-height-h)/2 0;

		.logo {
			height: $navbar-height-h;

			>img {
				height: $navbar-height-h;
			}
		}
	}

	;
}

.header-space {
	margin-top: $header-height-s;

	@include breakpoint(m) {
		margin-top: $header-height-m;
	}

	@include breakpoint(l) {
		margin-top: $header-height-l;
	}

	@include breakpoint(h) {
		margin-top: $header-height-h;
	}
}
