// BORDERS
.border-round {
	border-radius: 1024px;
}

@for $i from 1 through 5 {
	.border-#{$i} {
		border: #{$i}px solid transparent;
	}
}

@each $theme,
$color in (primary, $color-primary),
(secondary, $color-secondary),
(accent, $color-accent),
(success, $color-success),
(error, $color-error),
(warning, $color-warning),
(info, $color-info),
(neutral, $color-neutral),
	{
	.color-#{$theme} {
		color: $color;
	}

	.color-#{$theme}-light {
		color: mix(white, $color, 20);
	}

	.color-#{$theme}-dark {
		color: mix(black, $color, 20);
	}

	.bg-#{$theme} {
		background-color: $color;
	}

	.bg-#{$theme}-light {
		background-color: mix(white, $color, 20);
	}

	.bg-#{$theme}-dark {
		background-color: mix(black, $color, 20);
	}

	.border-#{$theme} {
		border-color: $color;
	}

	.border-#{$theme}-light {
		border-color: mix(white, $color, 20);
	}

	.border-#{$theme}-dark {
		border-color: mix(black, $color, 20);
	}
}

@each $theme,
$color in (text, $color-text),
(text-inverted, $color-text-inverted),
	{
	.color-#{$theme} {
		color: $color;
	}

	.bg-#{$theme} {
		background-color: $color;
	}

	.border-#{$theme} {
		border-color: $color;
	}
}

.transitioned {
	transition: all $animation-timing;
}

@for $i from 1 through 20 {
	.shadow-#{$i} {
		@include shadow($i);
	}
}
