.label {
	display: inline-block;
	font-family: $font-family-text;
	font-weight: 700;
	line-height: 1em;
	color: $color-text-inverted;
	padding: 0.3em 0.5em;
	border-radius: $border-radius-button;
	background-color: mix($color-text, $color-bg, 30);
	border-left: 4px solid mix($color-text, $color-bg, 10);

	@each $theme,
	$color in (primary, $color-primary),
	(secondary, $color-secondary),
	(accent, $color-accent),
	(success, $color-success),
	(error, $color-error),
	(warning, $color-warning),
	(info, $color-info),
	(neutral, $color-neutral),
		{
		&-#{$theme} {
			color: $color-text-inverted;
			background-color: $color;
			border-left: 4px solid mix(white, $color, 30);
		}
	}
}
