.modal {
	background: $color-bg;
	z-index: 20;
	border-radius: $border-radius-box;
	width: 80%;
	overflow: hidden;

	@include breakpoint(m) {
		width: 70%;
	}

	;

	@include breakpoint(l) {
		width: 60%;
	}

	;

	@include breakpoint(h) {
		width: 50%;
	}

	;
	@include shadow(16);
	max-height: 90vh;
	max-width: 90vw;

	&.modal-big {
		width: 90%;

		@include breakpoint(m) {
			width: 85%;
		}

		;

		@include breakpoint(l) {
			width: 80%;
		}

		;

		@include breakpoint(h) {
			width: 75%;
		}

		;
	}

	&.modal-small {
		width: 70%;

		@include breakpoint(m) {
			width: 55%;
		}

		;

		@include breakpoint(l) {
			width: 40%;
		}

		;

		@include breakpoint(h) {
			width: 25%;
		}

		;
	}

	.modal-header {
		padding: 1em;
		border-bottom: 1px solid mix($color-text, $color-bg, 20);
	}

	.modal-body {
		padding: 1em;
		overflow-y: auto;
	}

	.modal-footer {
		padding: 1em;
		border-top: 1px solid mix($color-text, $color-bg, 20);
	}

	.modal-actions {
		display: flex;
		justify-content: flex-end;

		>* {
			margin-left: 0.5em;
		}
	}

	@each $theme,
	$color in (primary, $color-primary),
	(secondary, $color-secondary),
	(accent, $color-accent),
	(success, $color-success),
	(error, $color-error),
	(warning, $color-warning),
	(info, $color-info),
	(neutral, $color-neutral),
		{
		&-#{$theme} {
			.modal-header {
				background-color: mix(white, $color, 30);
				border-bottom: 1px solid mix(white, $color, 20);
				color: mix($color, $color-text, 30);

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					color: inherit;
				}
			}
		}
	}
}

.modal-background {
	background-color: rgba(invert($color-bg), 0.5);
	mix-blend-mode: multiply;
}
