.header {
	background-color: $header-color;
	color: $navbar-color-text;
	@include shadow(4);

	.nav {
		a {
			color: $navbar-color-item-text;
			background-color: $navbar-color-item;
			transition: color $animation-timing, background-color $animation-timing;

			&:hover {
				color: $navbar-color-item-text-hover;
				background-color: $navbar-color-item-hover;
			}
		}
	}

	.nav-toggle {
		color: $navbar-color-item-text;
		background-color: $navbar-color-item;
		transition: color $animation-timing, background-color $animation-timing;

		&:hover {
			color: $navbar-color-item-text-hover;
			background-color: $navbar-color-item-hover;
		}
	}
}

.nav {
	font-family: $font-navbar;
	font-size: 1.2em;
	font-weight: 400;
	background-color: $navbar-color;
	text-transform: uppercase;
	max-height: 50vh;
	@include shadow(4);

	&.vertical {
		top: $header-height-s;
		bottom: 0;
		transition: left 0.2s, right 0.2s;
		margin-top: 0;
		padding: 0.5em 0;

		@include breakpoint(m) {
			top: $header-height-m;
		}

		@include breakpoint(l) {
			top: $header-height-l;
		}

		@include breakpoint(h) {
			top: $header-height-h;
		}
	}

	ul {
		padding: 0.5em 0;
	}

	.nav-item {
		margin: 0;
		white-space: nowrap;
		line-height: $navbar-height-s;

		@include breakpoint(m) {
			line-height: $navbar-height-m;
		}

		@include breakpoint(l) {
			line-height: $navbar-height-l;
		}

		@include breakpoint(h) {
			line-height: $navbar-height-h;
		}

		> a {
			display: block;
			padding: 0 $navbar-item-padding;
		}
	}

	.nav-sub {
		text-transform: none;
		padding: 0 $navbar-item-padding;
		margin: 0;
		font-size: 0.9em;
		background-color: $navbar-color-sub;
		min-width: 100%;

		@include breakpoint(m) {
			margin-top: ($header-height-m - $navbar-height-m)/2;
		}

		@include breakpoint(l) {
			margin-top: ($header-height-l - $navbar-height-l)/2;
		}

		@include breakpoint(h) {
			margin-top: ($header-height-h - $navbar-height-h)/2;
		}
	}

	@each $break, $width in $breakpoints {
		@include breakpoint($break) {
			&.nav-break-#{$break} {
				box-shadow: none;
				background-color: transparent;
				margin-top: 0;

				&.vertical {
					padding: 0;
				}

				> ul {
					padding: 0;
				}

				.nav-sub {
					@include shadow(8);
					padding: 0;
				}
			}
		}
	}
}

.nav-toggle {
	overflow: hidden;
	text-align: center;
	width: $navbar-height-s;
	height: $navbar-height-s;
	line-height: $navbar-height-s;

	> img {
		height: 100%;
	}

	> i {
		line-height: $navbar-height-s;
		vertical-align: unset;
	}

	@include breakpoint(m) {
		width: $navbar-height-m;
		height: $navbar-height-m;
		line-height: $navbar-height-m;

		> i {
			line-height: $navbar-height-m;
		}
	}

	@include breakpoint(l) {
		width: $navbar-height-l;
		height: $navbar-height-l;
		line-height: $navbar-height-l;

		> i {
			line-height: $navbar-height-l;
		}
	}

	@include breakpoint(h) {
		width: $navbar-height-h;
		height: $navbar-height-h;
		line-height: $navbar-height-h;

		> i {
			line-height: $navbar-height-h;
		}
	}
}
