.pagination {
	display: flex;
	align-items: stretch;
	padding: 0;
	margin-bottom: 1em;
	font-size: 1.2em;
	list-style: none;
	background-color: mix($color-text, $color-bg, 5);

	>li {
		margin: 0;
		text-align: center;
		padding: 0.5em;

		a {

			&,
			&:visited {
				font-weight: 400;
				transition: color $animation-timing, background-color $animation-timing;
				color: $color-primary;
				display: block;
			}

			&:hover,
			&:focus,
			&:active {
				color: $color-secondary;
			}
		}
	}

	i {
		vertical-align: middle;
		display: block;
	}
}
