.panel {
	margin-bottom: $panel-padding;
	border-radius: $border-radius-box;
	border: 1px solid mix($color-text, $color-bg, 20);
	overflow: hidden;

	.panel-title {
		padding: $panel-padding;
		background-color: mix($color-text, $color-bg, 10);
		border-bottom: 1px solid mix($color-text, $color-bg, 20);
		color: $color-text;

		>* {
			color: inherit;
		}
	}

	.panel-content {
		padding: $panel-padding;
		text-align: justify;
	}

	@each $theme,
	$color in (primary, $color-primary),
	(secondary, $color-secondary),
	(accent, $color-accent),
	(success, $color-success),
	(error, $color-error),
	(warning, $color-warning),
	(info, $color-info),
	(neutral, $color-neutral),
		{
		&-#{$theme} {
			border: 1px solid mix($color, $color-bg, 50);

			.panel-title {
				background-color: mix($color, $color-bg, 30);
				border-bottom: 1px solid mix($color, $color-bg, 50);
				color: mix($color, $color-text, 30);
			}
		}
	}
}
