.table {

	th,
	td {
		padding: 0.5em;
	}

	&-con {

		th,
		td {
			padding: 0.2em;
		}
	}

	&-exp {

		th,
		td {
			padding: 1em;
		}
	}
}

.table,
.table-exp,
.table-con {
	margin-bottom: 1em;
	border-collapse: collapse;

	th,
	td {
		vertical-align: top;
	}

	th {
		font-weight: 700;
	}

	&.tinted {
		thead {
			background-color: $table-head-color;
		}
	}

	&.hovered {
		tbody {
			tr {
				transition: background-color $animation-timing;

				&:hover {
					background-color: $table-hover-color;
				}
			}
		}

		&.striped {
			tbody {
				tr {
					transition: background-color $animation-timing;

					&:hover {
						background-color: $table-hover-color;
					}
				}
			}
		}
	}

	&.striped {
		tbody {
			tr {
				&:nth-child(odd) {
					background-color: $table-stripe-color;
				}
			}
		}
	}

	&.lined {
		tr {
			border-bottom: 1px solid $table-line-color;
		}
	}

	&.bordered {

		th,
		td {
			border: 1px solid $table-line-color;

			&:first-child {
				border-top: 1px solid $table-line-color;
			}
		}
	}
}
