html,
body {
	word-spacing: 0.08em;
	font-weight: $font-weight-base;
	font-family: $font-family-text;
	font-size: $font-size-base*1.1;

	@include breakpoint(m) {
		font-size: $font-size-base*1
	}

	;

	@include breakpoint(l) {
		font-size: $font-size-base*1.1
	}

	;

	@include breakpoint(h) {
		font-size: $font-size-base*1.2
	}

	;
	line-height: $font-line-height-base;
	background-color: $color-bg;
	color: $color-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-title;
	margin: 1em 0 0.5em;
	line-height: 1em;
	font-weight: 400;
	color: $color-primary;

	&:last-child {
		margin-bottom: 0;
	}
}

h1+h2,
h3+h4 {
	margin-top: 0;
}

p,
pre {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

p {
	a {
		font-weight: 400;
		transition: color $animation-timing;

		&,
		&:visited {
			color: $color-primary;
		}

		&:hover,
		&:focus,
		&:active {
			color: $color-secondary;
		}
	}
}

ul,
ol {
	margin-bottom: 1em;

	>li {
		margin-top: 0.1em;
		margin-bottom: 0.1em;
	}
}

ul {
	list-style: square;
}

b,
strong {
	font-weight: 700;
}

code {
	display: inline-block;
	font-family: $font-family-code;
	font-size: 1em;
	line-height: 1.2em;
}

pre {
	font-family: $font-family-code;
	color: $color-text;
	font-size: 1em;
	line-height: 1.2em;
	white-space: pre-wrap;
}

mark {
	color: $color-secondary;
	background-color: unset;
}

q,
blockquote {
	font-style: italic;
}

blockquote {
	padding: 2em;
	margin: 0 0 1em;
	background-color: mix($color-text, $color-bg, 5);
	border-radius: $border-radius-box;
}

abbr {
	text-decoration-color: $color-primary;
}

cite {
	font-weight: 700;
}
