// COLORS
$color-primary: #3055bf !default;
$color-secondary: #ffaa00 !default;
$color-accent: #f04251 !default;
$color-neutral: #808080 !default;
$color-info: #30a0b0 !default;
$color-success: #40a040 !default;
$color-error: #c04040 !default;
$color-warning: #e0c020 !default;
$color-text: #404040 !default;
$color-text-inverted: white !default;
$color-bg: white !default;

// SHADES
$color-primary-light: mix(white, $color-primary, 15);
$color-primary-dark: mix(black, $color-primary, 15);
$color-secondary-light: mix(white, $color-secondary, 15);
$color-secondary-dark: mix(black, $color-secondary, 15);
$color-accent-light: mix(white, $color-accent, 15);
$color-accent-dark: mix(black, $color-accent, 15);

$color-bg-light-1: mix(white, $color-bg, 5);
$color-bg-light-2: mix(white, $color-bg, 10);
$color-bg-light-3: mix(white, $color-bg, 15);
$color-bg-light-4: mix(white, $color-bg, 20);
$color-bg-shade-1: mix(black, $color-bg, 5);
$color-bg-shade-2: mix(black, $color-bg, 10);
$color-bg-shade-3: mix(black, $color-bg, 15);
$color-bg-shade-4: mix(black, $color-bg, 20);

// FONTS
$font-import: 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Raleway:400,700|Open+Sans:400,700' !default;
$font-family-text: 'Open Sans', sans-serif !default;
$font-family-title: 'Raleway', serif !default;
$font-family-code: 'Source Code Pro', monospace !default;
$font-size-base: 13px !default;
$font-line-height-base: 1.4 !default;
$font-weight-base: 400 !default;
$font-navbar: $font-family-title !default;

// GRID
$grid-space: 20px !default;
$grid-space-exp: 40px !default;
$grid-space-con: 10px !default;

// BORDERS
$border-radius-box: 4px !default;
$border-radius-button: 2px !default;
$border-radius-form: 2px !default;
$border-size-button: 1px !default;
$border-size-form: 1px !default;

// HEADER
$header-height-s: 50px !default;
$header-height-m: 70px !default;
$header-height-l: 70px !default;
$header-height-h: 70px !default;
$header-color: $color-bg !default;

// NAVBAR
$navbar-height-s: 30px !default;
$navbar-height-m: 40px !default;
$navbar-height-l: 40px !default;
$navbar-height-h: 40px !default;
$navbar-item-padding: 15px !default;
$navbar-color: mix(invert($color-bg), $color-bg, 5) !default;
$navbar-color-text: $color-text !default;
$navbar-color-item: transparent !default;
$navbar-color-item-text: inherit !default;
$navbar-color-item-hover: $color-secondary !default;
$navbar-color-item-text-hover: $color-text !default;
$navbar-color-sub: mix(invert($color-bg), $color-bg, 5) !default;

// ANIMATIONS
$animation-timing: 0.3s !default;

// CARDS
$card-padding: 2em !default;

// PANELS
$panel-padding: 1em !default;

// FORMS
$form-height: 3em !default;
$form-padding-vertical: 0.5em !default;
$form-padding-horizontal: 1em !default;
$form-line-height: $form-height - $form-padding-vertical * 2 !default;
$form-border-color: mix($color-text, $color-bg, 20) !default;

// TABLES
$table-line-color: mix($color-text, $color-bg, 20) !default;
$table-head-color: mix($color-text, $color-bg, 15) !default;
$table-hover-color: mix($color-text, $color-bg, 10) !default;
$table-stripe-color: mix($color-text, $color-bg, 5) !default;
