@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Raleway:400,700|Open+Sans:400,700);html,
body {
  word-spacing: 0.08em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 14.3px;
  line-height: 1.4;
  background-color: white;
  color: #404040;
}
@media (min-width: 768px) {
  html,
body {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  html,
body {
    font-size: 14.3px;
  }
}
@media (min-width: 1600px) {
  html,
body {
    font-size: 15.6px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", serif;
  margin: 1em 0 0.5em;
  line-height: 1em;
  font-weight: 400;
  color: #3055bf;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

h1 + h2,
h3 + h4 {
  margin-top: 0;
}

p,
pre {
  margin-bottom: 1em;
}
p:last-child,
pre:last-child {
  margin-bottom: 0;
}

p a {
  font-weight: 400;
  transition: color 0.3s;
}
p a, p a:visited {
  color: #3055bf;
}
p a:hover, p a:focus, p a:active {
  color: #ffaa00;
}

ul,
ol {
  margin-bottom: 1em;
}
ul > li,
ol > li {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

ul {
  list-style: square;
}

b,
strong {
  font-weight: 700;
}

code {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  line-height: 1.2em;
}

pre {
  font-family: "Source Code Pro", monospace;
  color: #404040;
  font-size: 1em;
  line-height: 1.2em;
  white-space: pre-wrap;
}

mark {
  color: #ffaa00;
  background-color: unset;
}

q,
blockquote {
  font-style: italic;
}

blockquote {
  padding: 2em;
  margin: 0 0 1em;
  background-color: whitesmoke;
  border-radius: 4px;
}

abbr {
  -webkit-text-decoration-color: #3055bf;
          text-decoration-color: #3055bf;
}

cite {
  font-weight: 700;
}

.cont,
.cont-full {
  padding-left: 20px;
  padding-right: 20px;
}
.cont-exp,
.cont-full-exp {
  padding-left: 40px;
  padding-right: 40px;
}
.cont-con,
.cont-full-con {
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  margin-left: -20px;
  margin-right: -20px;
}
.row [class*=" col-"],
.row [class^=col-] {
  padding-right: 20px;
  padding-left: 20px;
}
.row-exp {
  margin-left: -40px;
  margin-right: -40px;
}
.row-exp [class*=" col-"],
.row-exp [class^=col-] {
  padding-right: 40px;
  padding-left: 40px;
}
.row-con {
  margin-left: -10px;
  margin-right: -10px;
}
.row-con [class*=" col-"],
.row-con [class^=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.grid {
  gap: 20px;
}
.grid [class*=" col-"],
.grid [class^=col-] {
  padding-right: initial;
  padding-left: initial;
}
.grid-exp {
  gap: 40px;
}
.grid-con {
  gap: 10px;
}

.row-fill [class*=" col-"],
.row-fill [class^=col-] {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.grid-fill {
  gap: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 70px;
  }
}
@media (min-width: 1200px) {
  html {
    scroll-padding-top: 70px;
  }
}
@media (min-width: 1600px) {
  html {
    scroll-padding-top: 70px;
  }
}

a {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

main,
section {
  padding-top: 3em;
  padding-bottom: 3em;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #d9d9d9;
  background-clip: content-box;
}

.label {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1em;
  color: white;
  padding: 0.3em 0.5em;
  border-radius: 2px;
  background-color: #c6c6c6;
  border-left: 4px solid #ececec;
}
.label-primary {
  color: white;
  background-color: #3055bf;
  border-left: 4px solid #6e88d2;
}
.label-secondary {
  color: white;
  background-color: #ffaa00;
  border-left: 4px solid #ffc44d;
}
.label-accent {
  color: white;
  background-color: #f04251;
  border-left: 4px solid #f57b85;
}
.label-success {
  color: white;
  background-color: #40a040;
  border-left: 4px solid #79bd79;
}
.label-error {
  color: white;
  background-color: #c04040;
  border-left: 4px solid #d37979;
}
.label-warning {
  color: white;
  background-color: #e0c020;
  border-left: 4px solid #e9d363;
}
.label-info {
  color: white;
  background-color: #30a0b0;
  border-left: 4px solid #6ebdc8;
}
.label-neutral {
  color: white;
  background-color: #808080;
  border-left: 4px solid #a6a6a6;
}

.header {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Chrome and Opera */
  padding: 10px 0;
}
.header .logo {
  height: 30px;
}
.header .logo > img {
  height: 30px;
}
@media (min-width: 768px) {
  .header {
    height: 70px;
    padding: 15px 0;
  }
  .header .logo {
    height: 40px;
  }
  .header .logo > img {
    height: 40px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 70px;
    padding: 15px 0;
  }
  .header .logo {
    height: 40px;
  }
  .header .logo > img {
    height: 40px;
  }
}
@media (min-width: 1600px) {
  .header {
    height: 70px;
    padding: 15px 0;
  }
  .header .logo {
    height: 40px;
  }
  .header .logo > img {
    height: 40px;
  }
}

.header-space {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .header-space {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .header-space {
    margin-top: 70px;
  }
}
@media (min-width: 1600px) {
  .header-space {
    margin-top: 70px;
  }
}

footer {
  background-color: whitesmoke;
  font-size: 0.9em;
  padding: 1em 0;
}

.header {
  background-color: white;
  color: #404040;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.125);
}
.header .nav a {
  color: inherit;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}
.header .nav a:hover {
  color: #404040;
  background-color: #ffaa00;
}
.header .nav-toggle {
  color: inherit;
  background-color: transparent;
  transition: color 0.3s, background-color 0.3s;
}
.header .nav-toggle:hover {
  color: #404040;
  background-color: #ffaa00;
}

.nav {
  font-family: "Raleway", serif;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #f2f2f2;
  text-transform: uppercase;
  max-height: 50vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.125);
}
.nav.vertical {
  top: 50px;
  bottom: 0;
  transition: left 0.2s, right 0.2s;
  margin-top: 0;
  padding: 0.5em 0;
}
@media (min-width: 768px) {
  .nav.vertical {
    top: 70px;
  }
}
@media (min-width: 1200px) {
  .nav.vertical {
    top: 70px;
  }
}
@media (min-width: 1600px) {
  .nav.vertical {
    top: 70px;
  }
}
.nav ul {
  padding: 0.5em 0;
}
.nav .nav-item {
  margin: 0;
  white-space: nowrap;
  line-height: 30px;
}
@media (min-width: 768px) {
  .nav .nav-item {
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  .nav .nav-item {
    line-height: 40px;
  }
}
@media (min-width: 1600px) {
  .nav .nav-item {
    line-height: 40px;
  }
}
.nav .nav-item > a {
  display: block;
  padding: 0 15px;
}
.nav .nav-sub {
  text-transform: none;
  padding: 0 15px;
  margin: 0;
  font-size: 0.9em;
  background-color: #f2f2f2;
  min-width: 100%;
}
@media (min-width: 768px) {
  .nav .nav-sub {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .nav .nav-sub {
    margin-top: 15px;
  }
}
@media (min-width: 1600px) {
  .nav .nav-sub {
    margin-top: 15px;
  }
}
@media (min-width: 0px) {
  .nav.nav-break-s {
    box-shadow: none;
    background-color: transparent;
    margin-top: 0;
  }
  .nav.nav-break-s.vertical {
    padding: 0;
  }
  .nav.nav-break-s > ul {
    padding: 0;
  }
  .nav.nav-break-s .nav-sub {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
    padding: 0;
  }
}
@media (min-width: 768px) {
  .nav.nav-break-m {
    box-shadow: none;
    background-color: transparent;
    margin-top: 0;
  }
  .nav.nav-break-m.vertical {
    padding: 0;
  }
  .nav.nav-break-m > ul {
    padding: 0;
  }
  .nav.nav-break-m .nav-sub {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .nav.nav-break-l {
    box-shadow: none;
    background-color: transparent;
    margin-top: 0;
  }
  .nav.nav-break-l.vertical {
    padding: 0;
  }
  .nav.nav-break-l > ul {
    padding: 0;
  }
  .nav.nav-break-l .nav-sub {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
    padding: 0;
  }
}
@media (min-width: 1600px) {
  .nav.nav-break-h {
    box-shadow: none;
    background-color: transparent;
    margin-top: 0;
  }
  .nav.nav-break-h.vertical {
    padding: 0;
  }
  .nav.nav-break-h > ul {
    padding: 0;
  }
  .nav.nav-break-h .nav-sub {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
    padding: 0;
  }
}

.nav-toggle {
  overflow: hidden;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.nav-toggle > img {
  height: 100%;
}
.nav-toggle > i {
  line-height: 30px;
  vertical-align: unset;
}
@media (min-width: 768px) {
  .nav-toggle {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .nav-toggle > i {
    line-height: 40px;
  }
}
@media (min-width: 1200px) {
  .nav-toggle {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .nav-toggle > i {
    line-height: 40px;
  }
}
@media (min-width: 1600px) {
  .nav-toggle {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .nav-toggle > i {
    line-height: 40px;
  }
}

.alert {
  padding: 1em;
  border-radius: 4px;
}
.alert-primary {
  background-color: #c1ccec;
  color: #3b4666;
}
.alert-primary > i {
  color: #3055bf;
}
.alert-primary h1,
.alert-primary h2,
.alert-primary h3,
.alert-primary h4,
.alert-primary h5,
.alert-primary h6 {
  color: inherit;
}
.alert-secondary {
  background-color: #ffe6b3;
  color: #79602d;
}
.alert-secondary > i {
  color: #ffaa00;
}
.alert-secondary h1,
.alert-secondary h2,
.alert-secondary h3,
.alert-secondary h4,
.alert-secondary h5,
.alert-secondary h6 {
  color: inherit;
}
.alert-accent {
  background-color: #fbc6cb;
  color: #754145;
}
.alert-accent > i {
  color: #f04251;
}
.alert-accent h1,
.alert-accent h2,
.alert-accent h3,
.alert-accent h4,
.alert-accent h5,
.alert-accent h6 {
  color: inherit;
}
.alert-success {
  background-color: #c6e3c6;
  color: #405d40;
}
.alert-success > i {
  color: #40a040;
}
.alert-success h1,
.alert-success h2,
.alert-success h3,
.alert-success h4,
.alert-success h5,
.alert-success h6 {
  color: inherit;
}
.alert-error {
  background-color: #ecc6c6;
  color: #664040;
}
.alert-error > i {
  color: #c04040;
}
.alert-error h1,
.alert-error h2,
.alert-error h3,
.alert-error h4,
.alert-error h5,
.alert-error h6 {
  color: inherit;
}
.alert-warning {
  background-color: #f6ecbc;
  color: #706636;
}
.alert-warning > i {
  color: #e0c020;
}
.alert-warning h1,
.alert-warning h2,
.alert-warning h3,
.alert-warning h4,
.alert-warning h5,
.alert-warning h6 {
  color: inherit;
}
.alert-info {
  background-color: #c1e3e7;
  color: #3b5d62;
}
.alert-info > i {
  color: #30a0b0;
}
.alert-info h1,
.alert-info h2,
.alert-info h3,
.alert-info h4,
.alert-info h5,
.alert-info h6 {
  color: inherit;
}
.alert-neutral {
  background-color: #d9d9d9;
  color: #535353;
}
.alert-neutral > i {
  color: #808080;
}
.alert-neutral h1,
.alert-neutral h2,
.alert-neutral h3,
.alert-neutral h4,
.alert-neutral h5,
.alert-neutral h6 {
  color: inherit;
}
.alert > * {
  margin-bottom: 0;
}
.alert > * + * {
  margin-left: 1em;
}
.alert .alert-dismiss {
  cursor: pointer;
  margin-left: auto;
  font-size: 0.8em;
}

.btn {
  cursor: pointer;
  text-align: center;
  padding: 0.5em;
  line-height: 1em;
  font-size: 1em;
  display: inline-block;
  font-weight: 700;
  color: #404040;
  background-color: #d9d9d9;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.btn:visited {
  color: #404040;
}
.btn:hover, .btn:focus, .btn:active {
  color: #404040;
  background-color: whitesmoke;
  border-color: #ececec;
}
.btn i {
  font-size: 1.5em;
}
.btn-primary {
  color: white;
  background-color: #3055bf;
  border-color: #264499;
}
.btn-primary:visited {
  color: white;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: white;
  background-color: #8399d9;
  border-color: #5977cc;
}
.btn-secondary {
  color: white;
  background-color: #ffaa00;
  border-color: #cc8800;
}
.btn-secondary:visited {
  color: white;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: white;
  background-color: #ffcc66;
  border-color: #ffbb33;
}
.btn-accent {
  color: white;
  background-color: #f04251;
  border-color: #c03541;
}
.btn-accent:visited {
  color: white;
}
.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  color: white;
  background-color: #f68e97;
  border-color: #f36874;
}
.btn-success {
  color: white;
  background-color: #40a040;
  border-color: #338033;
}
.btn-success:visited {
  color: white;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  color: white;
  background-color: #8cc68c;
  border-color: #66b366;
}
.btn-error {
  color: white;
  background-color: #c04040;
  border-color: #9a3333;
}
.btn-error:visited {
  color: white;
}
.btn-error:hover, .btn-error:focus, .btn-error:active {
  color: white;
  background-color: #d98c8c;
  border-color: #cd6666;
}
.btn-warning {
  color: white;
  background-color: #e0c020;
  border-color: #b39a1a;
}
.btn-warning:visited {
  color: white;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  color: white;
  background-color: #ecd979;
  border-color: #e6cd4d;
}
.btn-info {
  color: white;
  background-color: #30a0b0;
  border-color: #26808d;
}
.btn-info:visited {
  color: white;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  color: white;
  background-color: #83c6d0;
  border-color: #59b3c0;
}
.btn-neutral {
  color: white;
  background-color: #808080;
  border-color: #666666;
}
.btn-neutral:visited {
  color: white;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active {
  color: white;
  background-color: #b3b3b3;
  border-color: #999999;
}
.btn.btn-block {
  display: block;
  width: 100%;
}

.btn-group {
  display: flex;
  overflow: hidden;
  border-radius: 2px;
}
.btn-group .btn {
  border-radius: 0;
}
.btn-group .btn:first-child {
  border-radius: 2px 0 0 2px;
}
.btn-group .btn:last-child {
  border-radius: 0 2px 2px 0;
}
.btn-group.vertical {
  display: inline-block;
  flex-direction: column;
}
.btn-group.vertical .btn {
  display: block;
}
.btn-group.vertical .btn:first-child {
  border-radius: 2px 2px 0 0;
}
.btn-group.vertical .btn:last-child {
  border-radius: 0 0 2px 2px;
}

button.btn {
  cursor: pointer;
}

.table th,
.table td {
  padding: 0.5em;
}
.table-con th,
.table-con td {
  padding: 0.2em;
}
.table-exp th,
.table-exp td {
  padding: 1em;
}

.table,
.table-exp,
.table-con {
  margin-bottom: 1em;
  border-collapse: collapse;
}
.table th,
.table td,
.table-exp th,
.table-exp td,
.table-con th,
.table-con td {
  vertical-align: top;
}
.table th,
.table-exp th,
.table-con th {
  font-weight: 700;
}
.table.tinted thead,
.table-exp.tinted thead,
.table-con.tinted thead {
  background-color: #e2e2e2;
}
.table.hovered tbody tr,
.table-exp.hovered tbody tr,
.table-con.hovered tbody tr {
  transition: background-color 0.3s;
}
.table.hovered tbody tr:hover,
.table-exp.hovered tbody tr:hover,
.table-con.hovered tbody tr:hover {
  background-color: #ececec;
}
.table.hovered.striped tbody tr,
.table-exp.hovered.striped tbody tr,
.table-con.hovered.striped tbody tr {
  transition: background-color 0.3s;
}
.table.hovered.striped tbody tr:hover,
.table-exp.hovered.striped tbody tr:hover,
.table-con.hovered.striped tbody tr:hover {
  background-color: #ececec;
}
.table.striped tbody tr:nth-child(odd),
.table-exp.striped tbody tr:nth-child(odd),
.table-con.striped tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}
.table.lined tr,
.table-exp.lined tr,
.table-con.lined tr {
  border-bottom: 1px solid #d9d9d9;
}
.table.bordered th,
.table.bordered td,
.table-exp.bordered th,
.table-exp.bordered td,
.table-con.bordered th,
.table-con.bordered td {
  border: 1px solid #d9d9d9;
}
.table.bordered th:first-child,
.table.bordered td:first-child,
.table-exp.bordered th:first-child,
.table-exp.bordered td:first-child,
.table-con.bordered th:first-child,
.table-con.bordered td:first-child {
  border-top: 1px solid #d9d9d9;
}

.form-input {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  color: #404040;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: white;
  transition: border-color 0.3s;
  outline: none;
}
.form-input:hover, .form-input:focus {
  border: 1px solid #ffaa00;
}
.form-input::-webkit-input-placeholder {
  color: #707070;
}
.form-input::-moz-placeholder {
  color: #707070;
}
.form-input:-ms-input-placeholder {
  color: #707070;
}
.form-input::-ms-input-placeholder {
  color: #707070;
}
.form-input::placeholder {
  color: #707070;
}
.form-input:last-child {
  margin-bottom: 0;
}

select.form-input,
input[type=text].form-input,
input[type=email].form-input,
input[type=password].form-input,
input[type=date].form-input,
input[type=number].form-input {
  line-height: 2em;
  height: 3em;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5em;
}
label:last-child {
  margin-bottom: 0;
}

.form-checkbox,
.form-radio {
  position: relative;
  line-height: 2em;
  height: 2em;
  padding: 0;
  margin-bottom: 0.5em;
}
.form-checkbox:last-child,
.form-radio:last-child {
  margin-bottom: 0;
}
.form-checkbox::before,
.form-radio::before {
  content: "";
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0;
  left: 0;
  border: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  pointer-events: none;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 0.3s;
}
.form-checkbox::after,
.form-radio::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0.5em;
  left: 0.5em;
  background-color: #3055bf;
  border-radius: 2px;
  pointer-events: none;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
.form-checkbox:hover::before, .form-checkbox.has-focus::before,
.form-radio:hover::before,
.form-radio.has-focus::before {
  border-color: #ffaa00;
}
.form-checkbox.checked:after,
.form-radio.checked:after {
  transform: scale(1);
}
.form-checkbox input[type=checkbox],
.form-checkbox input[type=radio],
.form-radio input[type=checkbox],
.form-radio input[type=radio] {
  cursor: pointer;
  height: 2em;
  width: 2em;
  vertical-align: top;
  margin-right: 0.5em;
  font-size: inherit;
}
.form-checkbox label,
.form-radio label {
  display: inline-block;
}

.form-radio:before, .form-radio:after {
  border-radius: 50%;
}

.form-file {
  position: relative;
  margin-bottom: 0.5em;
}
.form-file:last-child {
  margin-bottom: 0;
}
.form-file input[type=file] {
  width: 100%;
  opacity: 0;
  font-size: 1em;
  height: 3em;
  cursor: pointer;
}
.form-file input[type=file]:hover + label, .form-file input[type=file]:focus + label, .form-file input[type=file].has-focus + label {
  border: 1px solid #ffaa00;
}
.form-file label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5em 1em;
  margin: 0;
  line-height: 2em;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background-color: white;
  transition: border-color 0.3s;
  outline: none;
  pointer-events: none;
}
.form-file label:hover, .form-file label:focus {
  border: 1px solid #ffaa00;
}

.card {
  border-radius: 4px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.15);
}
.card.card-hover {
  transition: all 0.3s;
}
.card.card-hover:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
}
.card .card-content {
  padding: 2em;
  border-radius: 4px;
}

.panel {
  margin-bottom: 1em;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}
.panel .panel-title {
  padding: 1em;
  background-color: #ececec;
  border-bottom: 1px solid #d9d9d9;
  color: #404040;
}
.panel .panel-title > * {
  color: inherit;
}
.panel .panel-content {
  padding: 1em;
  text-align: justify;
}
.panel-primary {
  border: 1px solid #98aadf;
}
.panel-primary .panel-title {
  background-color: #c1ccec;
  border-bottom: 1px solid #98aadf;
  color: #3b4666;
}
.panel-secondary {
  border: 1px solid #ffd580;
}
.panel-secondary .panel-title {
  background-color: #ffe6b3;
  border-bottom: 1px solid #ffd580;
  color: #79602d;
}
.panel-accent {
  border: 1px solid #f8a1a8;
}
.panel-accent .panel-title {
  background-color: #fbc6cb;
  border-bottom: 1px solid #f8a1a8;
  color: #754145;
}
.panel-success {
  border: 1px solid #a0d0a0;
}
.panel-success .panel-title {
  background-color: #c6e3c6;
  border-bottom: 1px solid #a0d0a0;
  color: #405d40;
}
.panel-error {
  border: 1px solid #e0a0a0;
}
.panel-error .panel-title {
  background-color: #ecc6c6;
  border-bottom: 1px solid #e0a0a0;
  color: #664040;
}
.panel-warning {
  border: 1px solid #f0e090;
}
.panel-warning .panel-title {
  background-color: #f6ecbc;
  border-bottom: 1px solid #f0e090;
  color: #706636;
}
.panel-info {
  border: 1px solid #98d0d8;
}
.panel-info .panel-title {
  background-color: #c1e3e7;
  border-bottom: 1px solid #98d0d8;
  color: #3b5d62;
}
.panel-neutral {
  border: 1px solid silver;
}
.panel-neutral .panel-title {
  background-color: #d9d9d9;
  border-bottom: 1px solid silver;
  color: #535353;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin-bottom: 1em;
  font-size: 0.9em;
  list-style: none;
  background-color: #f2f2f2;
}
.breadcrumb > li {
  display: flex;
  align-items: center;
  margin: 0;
}
.breadcrumb > li a, .breadcrumb > li a:visited {
  color: #3055bf;
  font-weight: 400;
  transition: color 0.3s;
}
.breadcrumb > li a:hover, .breadcrumb > li a:focus, .breadcrumb > li a:active {
  color: #ffaa00;
}
.breadcrumb > li:after {
  content: "/";
  margin: 0 1em;
}
.breadcrumb > li:last-child:after {
  display: none;
}
.breadcrumb i {
  vertical-align: middle;
  font-size: 1.5em;
  line-height: 1em;
  display: block;
}

.pagination {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin-bottom: 1em;
  font-size: 1.2em;
  list-style: none;
  background-color: whitesmoke;
}
.pagination > li {
  margin: 0;
  text-align: center;
  padding: 0.5em;
}
.pagination > li a, .pagination > li a:visited {
  font-weight: 400;
  transition: color 0.3s, background-color 0.3s;
  color: #3055bf;
  display: block;
}
.pagination > li a:hover, .pagination > li a:focus, .pagination > li a:active {
  color: #ffaa00;
}
.pagination i {
  vertical-align: middle;
  display: block;
}

.modal {
  background: white;
  z-index: 20;
  border-radius: 4px;
  width: 80%;
  overflow: hidden;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.10625);
  max-height: 90vh;
  max-width: 90vw;
}
@media (min-width: 768px) {
  .modal {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 60%;
  }
}
@media (min-width: 1600px) {
  .modal {
    width: 50%;
  }
}
.modal.modal-big {
  width: 90%;
}
@media (min-width: 768px) {
  .modal.modal-big {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .modal.modal-big {
    width: 80%;
  }
}
@media (min-width: 1600px) {
  .modal.modal-big {
    width: 75%;
  }
}
.modal.modal-small {
  width: 70%;
}
@media (min-width: 768px) {
  .modal.modal-small {
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .modal.modal-small {
    width: 40%;
  }
}
@media (min-width: 1600px) {
  .modal.modal-small {
    width: 25%;
  }
}
.modal .modal-header {
  padding: 1em;
  border-bottom: 1px solid #d9d9d9;
}
.modal .modal-body {
  padding: 1em;
  overflow-y: auto;
}
.modal .modal-footer {
  padding: 1em;
  border-top: 1px solid #d9d9d9;
}
.modal .modal-actions {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-actions > * {
  margin-left: 0.5em;
}
.modal-primary .modal-header {
  background-color: #6e88d2;
  border-bottom: 1px solid #5977cc;
  color: #3b4666;
}
.modal-primary .modal-header h1,
.modal-primary .modal-header h2,
.modal-primary .modal-header h3,
.modal-primary .modal-header h4,
.modal-primary .modal-header h5,
.modal-primary .modal-header h6 {
  color: inherit;
}
.modal-secondary .modal-header {
  background-color: #ffc44d;
  border-bottom: 1px solid #ffbb33;
  color: #79602d;
}
.modal-secondary .modal-header h1,
.modal-secondary .modal-header h2,
.modal-secondary .modal-header h3,
.modal-secondary .modal-header h4,
.modal-secondary .modal-header h5,
.modal-secondary .modal-header h6 {
  color: inherit;
}
.modal-accent .modal-header {
  background-color: #f57b85;
  border-bottom: 1px solid #f36874;
  color: #754145;
}
.modal-accent .modal-header h1,
.modal-accent .modal-header h2,
.modal-accent .modal-header h3,
.modal-accent .modal-header h4,
.modal-accent .modal-header h5,
.modal-accent .modal-header h6 {
  color: inherit;
}
.modal-success .modal-header {
  background-color: #79bd79;
  border-bottom: 1px solid #66b366;
  color: #405d40;
}
.modal-success .modal-header h1,
.modal-success .modal-header h2,
.modal-success .modal-header h3,
.modal-success .modal-header h4,
.modal-success .modal-header h5,
.modal-success .modal-header h6 {
  color: inherit;
}
.modal-error .modal-header {
  background-color: #d37979;
  border-bottom: 1px solid #cd6666;
  color: #664040;
}
.modal-error .modal-header h1,
.modal-error .modal-header h2,
.modal-error .modal-header h3,
.modal-error .modal-header h4,
.modal-error .modal-header h5,
.modal-error .modal-header h6 {
  color: inherit;
}
.modal-warning .modal-header {
  background-color: #e9d363;
  border-bottom: 1px solid #e6cd4d;
  color: #706636;
}
.modal-warning .modal-header h1,
.modal-warning .modal-header h2,
.modal-warning .modal-header h3,
.modal-warning .modal-header h4,
.modal-warning .modal-header h5,
.modal-warning .modal-header h6 {
  color: inherit;
}
.modal-info .modal-header {
  background-color: #6ebdc8;
  border-bottom: 1px solid #59b3c0;
  color: #3b5d62;
}
.modal-info .modal-header h1,
.modal-info .modal-header h2,
.modal-info .modal-header h3,
.modal-info .modal-header h4,
.modal-info .modal-header h5,
.modal-info .modal-header h6 {
  color: inherit;
}
.modal-neutral .modal-header {
  background-color: #a6a6a6;
  border-bottom: 1px solid #999999;
  color: #535353;
}
.modal-neutral .modal-header h1,
.modal-neutral .modal-header h2,
.modal-neutral .modal-header h3,
.modal-neutral .modal-header h4,
.modal-neutral .modal-header h5,
.modal-neutral .modal-header h6 {
  color: inherit;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
  mix-blend-mode: multiply;
}

.border-round {
  border-radius: 1024px;
}

.border-1 {
  border: 1px solid transparent;
}

.border-2 {
  border: 2px solid transparent;
}

.border-3 {
  border: 3px solid transparent;
}

.border-4 {
  border: 4px solid transparent;
}

.border-5 {
  border: 5px solid transparent;
}

.color-primary {
  color: #3055bf;
}

.color-primary-light {
  color: #5977cc;
}

.color-primary-dark {
  color: #264499;
}

.bg-primary {
  background-color: #3055bf;
}

.bg-primary-light {
  background-color: #5977cc;
}

.bg-primary-dark {
  background-color: #264499;
}

.border-primary {
  border-color: #3055bf;
}

.border-primary-light {
  border-color: #5977cc;
}

.border-primary-dark {
  border-color: #264499;
}

.color-secondary {
  color: #ffaa00;
}

.color-secondary-light {
  color: #ffbb33;
}

.color-secondary-dark {
  color: #cc8800;
}

.bg-secondary {
  background-color: #ffaa00;
}

.bg-secondary-light {
  background-color: #ffbb33;
}

.bg-secondary-dark {
  background-color: #cc8800;
}

.border-secondary {
  border-color: #ffaa00;
}

.border-secondary-light {
  border-color: #ffbb33;
}

.border-secondary-dark {
  border-color: #cc8800;
}

.color-accent {
  color: #f04251;
}

.color-accent-light {
  color: #f36874;
}

.color-accent-dark {
  color: #c03541;
}

.bg-accent {
  background-color: #f04251;
}

.bg-accent-light {
  background-color: #f36874;
}

.bg-accent-dark {
  background-color: #c03541;
}

.border-accent {
  border-color: #f04251;
}

.border-accent-light {
  border-color: #f36874;
}

.border-accent-dark {
  border-color: #c03541;
}

.color-success {
  color: #40a040;
}

.color-success-light {
  color: #66b366;
}

.color-success-dark {
  color: #338033;
}

.bg-success {
  background-color: #40a040;
}

.bg-success-light {
  background-color: #66b366;
}

.bg-success-dark {
  background-color: #338033;
}

.border-success {
  border-color: #40a040;
}

.border-success-light {
  border-color: #66b366;
}

.border-success-dark {
  border-color: #338033;
}

.color-error {
  color: #c04040;
}

.color-error-light {
  color: #cd6666;
}

.color-error-dark {
  color: #9a3333;
}

.bg-error {
  background-color: #c04040;
}

.bg-error-light {
  background-color: #cd6666;
}

.bg-error-dark {
  background-color: #9a3333;
}

.border-error {
  border-color: #c04040;
}

.border-error-light {
  border-color: #cd6666;
}

.border-error-dark {
  border-color: #9a3333;
}

.color-warning {
  color: #e0c020;
}

.color-warning-light {
  color: #e6cd4d;
}

.color-warning-dark {
  color: #b39a1a;
}

.bg-warning {
  background-color: #e0c020;
}

.bg-warning-light {
  background-color: #e6cd4d;
}

.bg-warning-dark {
  background-color: #b39a1a;
}

.border-warning {
  border-color: #e0c020;
}

.border-warning-light {
  border-color: #e6cd4d;
}

.border-warning-dark {
  border-color: #b39a1a;
}

.color-info {
  color: #30a0b0;
}

.color-info-light {
  color: #59b3c0;
}

.color-info-dark {
  color: #26808d;
}

.bg-info {
  background-color: #30a0b0;
}

.bg-info-light {
  background-color: #59b3c0;
}

.bg-info-dark {
  background-color: #26808d;
}

.border-info {
  border-color: #30a0b0;
}

.border-info-light {
  border-color: #59b3c0;
}

.border-info-dark {
  border-color: #26808d;
}

.color-neutral {
  color: #808080;
}

.color-neutral-light {
  color: #999999;
}

.color-neutral-dark {
  color: #666666;
}

.bg-neutral {
  background-color: #808080;
}

.bg-neutral-light {
  background-color: #999999;
}

.bg-neutral-dark {
  background-color: #666666;
}

.border-neutral {
  border-color: #808080;
}

.border-neutral-light {
  border-color: #999999;
}

.border-neutral-dark {
  border-color: #666666;
}

.color-text {
  color: #404040;
}

.bg-text {
  background-color: #404040;
}

.border-text {
  border-color: #404040;
}

.color-text-inverted {
  color: white;
}

.bg-text-inverted {
  background-color: white;
}

.border-text-inverted {
  border-color: white;
}

.transitioned {
  transition: all 0.3s;
}

.shadow-1 {
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.shadow-2 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.15);
}

.shadow-3 {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.1333333333);
}

.shadow-4 {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.125);
}

.shadow-5 {
  box-shadow: 0 2.5px 6px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.12);
}

.shadow-6 {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1166666667);
}

.shadow-7 {
  box-shadow: 0 3.5px 8px rgba(0, 0, 0, 0.1), 0 7px 7px rgba(0, 0, 0, 0.1142857143);
}

.shadow-8 {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1125);
}

.shadow-9 {
  box-shadow: 0 4.5px 10px rgba(0, 0, 0, 0.1), 0 9px 9px rgba(0, 0, 0, 0.1111111111);
}

.shadow-10 {
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.11);
}

.shadow-11 {
  box-shadow: 0 5.5px 12px rgba(0, 0, 0, 0.1), 0 11px 11px rgba(0, 0, 0, 0.1090909091);
}

.shadow-12 {
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.1), 0 12px 12px rgba(0, 0, 0, 0.1083333333);
}

.shadow-13 {
  box-shadow: 0 6.5px 14px rgba(0, 0, 0, 0.1), 0 13px 13px rgba(0, 0, 0, 0.1076923077);
}

.shadow-14 {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.1), 0 14px 14px rgba(0, 0, 0, 0.1071428571);
}

.shadow-15 {
  box-shadow: 0 7.5px 16px rgba(0, 0, 0, 0.1), 0 15px 15px rgba(0, 0, 0, 0.1066666667);
}

.shadow-16 {
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.10625);
}

.shadow-17 {
  box-shadow: 0 8.5px 18px rgba(0, 0, 0, 0.1), 0 17px 17px rgba(0, 0, 0, 0.1058823529);
}

.shadow-18 {
  box-shadow: 0 9px 19px rgba(0, 0, 0, 0.1), 0 18px 18px rgba(0, 0, 0, 0.1055555556);
}

.shadow-19 {
  box-shadow: 0 9.5px 20px rgba(0, 0, 0, 0.1), 0 19px 19px rgba(0, 0, 0, 0.1052631579);
}

.shadow-20 {
  box-shadow: 0 10px 21px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.105);
}
/*# sourceMappingURL=codesmith-theme.css.map*/