/*	GENERAL CLASSES	*/
code[class*=language-] {
  display: inline-block;
  font-family: "Source Code Pro", monospace !important;
  text-shadow: none !important;
}

pre {
  font-family: "Source Code Pro", monospace !important;
}

:not(pre) > code[class*=language-] {
  padding: 0.15em 0.3em !important;
  font-size: 0.9em !important;
  line-height: 1.11em !important;
  font-weight: 700;
}

.tut-block {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.label-engine {
  background-color: #1d5b8f;
  border-left-color: #3b90d7;
}

.label-theme {
  background-color: #367334;
  border-left-color: #5cb459;
}

.label-actions {
  background-color: #733434;
  border-left-color: #b45959;
}

.label-plugins {
  background-color: #706f33;
  border-left-color: #b2b257;
}

.label-group {
  margin-bottom: 0.8em;
  margin-left: 1em;
  float: right;
}

.label-group .label {
  display: block;
  margin-bottom: 0.2em;
}

.material-icons {
  vertical-align: -25%;
}

@-webkit-keyframes reveal_tutorial {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes reveal_tutorial {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.reveal-tutorial {
  -webkit-animation: reveal_tutorial 1s ease-in-out;
          animation: reveal_tutorial 1s ease-in-out;
  height: 30vh;
  visibility: hidden;
}

/*	HOME	*/
#home-main {
  padding: 5vw 0;
  background-image: linear-gradient(to bottom right, #ffeecc, #acbbe5);
}
#home-main h1 {
  color: #404040;
  text-transform: uppercase;
  font-weight: 400;
}

#home-features {
  text-align: center;
}
#home-features i {
  font-size: 4em;
  color: white;
  padding: 0.3em;
}
#home-features p {
  text-align: center;
}

#home-buttons {
  padding: 6vw 0;
  background: transparent url("../images/coal.jpg") no-repeat 50% 50%;
  background-size: cover;
}
#home-buttons .btn {
  font-size: 2em;
}
#home-buttons .tagline {
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: 700;
}
/*# sourceMappingURL=tutorial.css.map*/