@use 'sass:map';

@mixin breakpoint($size) {
	@media (min-width: map.get($breakpoints, $size)) {
		@content;
	}
}

@mixin condition($size) {
	@if($size==s) {
		@media (min-width: 0) and (max-width: map.get($breakpoints, 'm') - 1) {
			@content;
		}
	}

	@else if($size==m) {
		@media (min-width: map.get($breakpoints, 'm')) and (max-width: map.get($breakpoints, 'l') - 1) {
			@content;
		}
	}

	@else if ($size==l) {
		@media (min-width: map.get($breakpoints, 'l')) and (max-width: map.get($breakpoints, 'h') - 1) {
			@content;
		}
	}

	@else if ($size==h) {
		@media (min-width: map.get($breakpoints, 'h')) {
			@content;
		}
	}
}

@mixin animated($time: $animation-timing) {
	transition: all $time;
}

@mixin shadow($height) {
	box-shadow: 0 #{$height/2}px #{1+$height}px rgba(black, 0.1),
	0 #{$height}px #{$height}px rgba(black, 0.1 + 0.1/$height),
}
