html,
body {
	padding: 0;
	margin: 0;
	background-color: white;
	color: black;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

a {
	&,
	&:hover,
	&:focus,
	&:active {
		color: inherit;
	}
}
