@use "sass:map";

// FONTS
$engine-font-family-text: Verdana, sans-serif !default;
$engine-font-family-title: Palatino, serif !default;
$engine-font-family-code: Monaco, monospace !default;
$engine-font-size-base: 14px !default;
$engine-font-line-height-base: 1.3 !default;

// RESPONSIVE
$breakpoints: (
	's': 0px,
	'm': 768px,
	'l': 1200px,
	'h': 1600px
) !default;

$navbar-trigger: 'm' !default;
