.card {
	display: flex;
	flex-direction: column;

	.card-content {
		flex-grow: 100;
	}

	.card-image {
		background: transparent none no-repeat center center;
		background-size: cover;
		min-height: 10em;

		img {
			width: 100%;
			display: block;
		}
	}

	&.horizontal {
		flex-direction: row;

		.card-content,
		.card-image {
			flex-basis: 50%;
			min-height: initial;
		}
	}

	@each $size in (m, l, h) {
		&.horizontal-#{$size} {
			@include breakpoint($size) {
				flex-direction: row;

				.card-content,
				.card-image {
					flex-basis: 50%;
					min-height: initial;
				}
			}

			;
		}
	}
}
