select,
textarea,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"] {
	&.form-input {
		display: block;
		width: 100%;
	}
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	outline: none;
}

textarea.form-input {
	resize: vertical;
}
