.cont {
	&,
	&-exp,
	&-con {
		width: 100%;
		overflow-x: hidden;
		margin-left: auto;
		margin-right: auto;

		@each $break, $width in $breakpoints {
			@include breakpoint($break) {
				width: $width - 20;
			}
		}
	}
}

.cont-full {
	&,
	&-exp,
	&-con {
		width: 100%;
		overflow-x: hidden;
	}
}

.row,
.row-con,
.row-exp,
.row-fill {
	display: flex;
	flex-flow: row wrap;
	clear: both;
}

.grid,
.grid-con,
.grid-exp,
.grid-fill {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	flex-flow: row wrap;
	clear: both;
}

[class*=' col-'],
[class^='col-'] {
	order: 99;
}

@each $break, $width in $breakpoints {
	@include breakpoint($break) {
		@for $i from 1 through 12 {
			.row,
			.row-con,
			.row-exp,
			.row-fill {
				.col-#{$break}-#{$i} {
					width: $i * 100% / 12;
				}
			}
			.grid,
			.grid-con,
			.grid-exp,
			.grid-fill {
				.col-#{$break}-#{$i} {
					grid-column: span $i;
				}
			}

			.order-#{$break}-#{$i} {
				order: $i;
			}
		}
	}
}
