.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
	flex-wrap: wrap;
	overflow: visible;

	.logo {
		>img {
			height: 50px;
			display: block;
		}
	}

	>.cont,
	>.cont-exp,
	>.cont-con,
	>.cont-full {
		overflow: visible;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
}
