// DISPLAY
@each $_var in (block, inline-block, inline, flex, none) {
	.#{$_var} {
		display: $_var !important;
	}
}

// RESPONSIVE DISPLAY
@include breakpoint(m) {
	.none-m {
		display: none !important;
	}

	.block-m {
		display: block !important;
	}

	.inline-block-m {
		display: inline-block !important;
	}

	.inline-m {
		display: inline !important;
	}

	.flex-m {
		display: flex !important;
	}
}

@include breakpoint(l) {
	.none-l {
		display: none !important;
	}

	.block-l {
		display: block !important;
	}

	.inline-block-l {
		display: inline-block !important;
	}

	.inline-l {
		display: inline !important;
	}

	.flex-l {
		display: flex !important;
	}
}

@include breakpoint(h) {
	.none-h {
		display: none !important;
	}

	.block-h {
		display: block !important;
	}

	.inline-block-h {
		display: inline-block !important;
	}

	.inline-h {
		display: inline !important;
	}

	.flex-h {
		display: flex !important;
	}
}

// POSITIONING
/*
.pos-sta {position: static;}
.pos-rel {position: relative;}
.pos-abs {position: absolute;}
.pos-fix {position: fixed;}
.pos-top-left {top: 0; left: 0;}
.pos-top {top: 0; left: 50%; transform: translateX(-50%);}
.pos-top-right {top: 0; right: 0;}
.pos-left {top: 50%; left: 0; transform: translateY(-50%);}
.pos-center {top: 50%; left: 50%; transform: translate(-50%, -50%);}
.pos-right {top: 0; right: 0;}
.pos-bottom-left {bottom: 0; left: 0;}
.pos-bottom {bottom: 0; left: 50%; transform: translateX(-50%);}
.pos-bottom-right {bottom: 0; right: 0;}
*/

// WIDTHS

@for $i from 0 through 20 {
	.width-#{$i*5} {
		width: $i * 5%;
	}
}

// FLOAT
@each $_var in (left, right, none) {
	.float-#{$_var} {
		float: $_var;
	}
}

@each $_var in (left, right, both) {
	.clear-#{$_var} {
		clear: $_var;
	}
}

// TEXT
.txt-big {
	font-size: 1.2em;
}

.txt-small {
	font-size: 0.9em;
}

@each $_var in (left, right, center, justify) {
	.txt-#{$_var} {
		text-align: $_var;
	}
}

// FLEX
.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-reverse {
	display: flex;
	flex-direction: column-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

@each $_key, $_value in (start, flex-start), (center, center), (end, flex-end) {
	.justify-content-#{$_key} {
		justify-content: $_value;
	}

	.align-items-#{$_key} {
		align-items: $_value;
	}

	.align-self-#{$_key} {
		align-self: $_value;
	}
}

.align-items-stretch {
	align-items: stretch;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

// MARGINS
@for $i from 0 through 10 {
	.mf#{$i}e,
	.mv#{$i}e,
	.mt#{$i}e {
		margin-top: 0em + $i;
	}

	.mf#{$i}e,
	.mh#{$i}e,
	.mr#{$i}e {
		margin-right: 0em + $i;
	}

	.mf#{$i}e,
	.mv#{$i}e,
	.mb#{$i}e {
		margin-bottom: 0em + $i;
	}

	.mf#{$i}e,
	.mh#{$i}e,
	.ml#{$i}e {
		margin-left: 0em + $i;
	}

	.mf#{$i * 5}p,
	.mv#{$i * 5}p,
	.mt#{$i * 5}p {
		margin-top: 5px * $i;
	}

	.mf#{$i * 5}p,
	.mh#{$i * 5}p,
	.mr#{$i * 5}p {
		margin-right: 5px * $i;
	}

	.mf#{$i * 5}p,
	.mv#{$i * 5}p,
	.mb#{$i * 5}p {
		margin-bottom: 5px * $i;
	}

	.mf#{$i * 5}p,
	.mh#{$i * 5}p,
	.ml#{$i * 5}p {
		margin-left: 5px * $i;
	}
}

.mfa,
.mva,
.mta {
	margin-top: auto;
}

.mfa,
.mha,
.mra {
	margin-right: auto;
}

.mfa,
.mva,
.mba {
	margin-bottom: auto;
}

.mfa,
.mha,
.mla {
	margin-left: auto;
}

// PADDINGS
@for $i from 0 through 10 {
	.pf#{$i}e,
	.pv#{$i}e,
	.pt#{$i}e {
		padding-top: 0em + $i;
	}

	.pf#{$i}e,
	.ph#{$i}e,
	.pr#{$i}e {
		padding-right: 0em + $i;
	}

	.pf#{$i}e,
	.pv#{$i}e,
	.pb#{$i}e {
		padding-bottom: 0em + $i;
	}

	.pf#{$i}e,
	.ph#{$i}e,
	.pl#{$i}e {
		padding-left: 0em + $i;
	}

	.pf#{$i * 5}p,
	.pv#{$i * 5}p,
	.pt#{$i * 5}p {
		padding-top: 5px * $i;
	}

	.pf#{$i * 5}p,
	.ph#{$i * 5}p,
	.pr#{$i * 5}p {
		padding-right: 5px * $i;
	}

	.pf#{$i * 5}p,
	.pv#{$i * 5}p,
	.pb#{$i * 5}p {
		padding-bottom: 5px * $i;
	}

	.pf#{$i * 5}p,
	.ph#{$i * 5}p,
	.pl#{$i * 5}p {
		padding-left: 5px * $i;
	}
}

// BACKGROUNDS
.bg-contain,
.bg-cover,
.bg-fixed {
	background: transparent none no-repeat 50% 50%;
}

.bg-contain {
	background-size: contain;
}

.bg-cover {
	background-size: cover;
}

.bg-fixed {
	background-size: cover;
	background-attachment: fixed;
}

.bg-pattern {
	background: transparent none repeat 50% 50%;
}

// SPECIAL HELPERS
.img-block {
	max-width: 100%;
	margin: auto;
	display: block;
}

.full-window {
	width: 100vw;
	height: 100vh;
}

.filler {
	height: 100%;
	display: flex;
	flex-direction: column;
}
