.modal {
	display: none;
	position: fixed;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	z-index: 20;

	&.open {
		display: flex;
	}

	&.top {
		top: 20px;
		transform: translateX(-50%);
	}

	&.bottom {
		bottom: 20px;
		top: auto;
		transform: translateX(-50%);
	}

	&.left {
		left: 20px;
		transform: translateY(-50%);
	}

	&.right {
		right: 20px;
		left: auto;
		transform: translateY(-50%);
	}

	&.top,
	&.bottom {

		&.left,
		&.right {
			transform: none;
		}
	}
}

.modal-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(white, 0.6);
	z-index: 19;
}
