@use 'sass:map';

.nav {
	width: 100%;
	display: none;
	order: 1000;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	&.vertical {
		position: fixed;
		left: auto;
		right: -70%;
		max-height: initial;
		width: 70%;
		display: block;

		@include breakpoint(m) {
			width: 50%;
		}
		@include breakpoint(l) {
			width: 40%;
		}
		@include breakpoint(h) {
			width: 30%;
		}

		&.open {
			right: 0%;
		}

		&.left {
			right: auto;
			left: -70%;

			&.open {
				left: 0%;
			}
		}
	}

	> ul {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	.nav-item {
		position: relative;
		padding: 0;
		margin: 0;
	}

	.nav-sub {
		display: none;
		list-style: none;

		&.open {
			display: block;
		}
	}

	@each $break, $width in $breakpoints {
		@include breakpoint($break) {
			&.nav-break-#{$break} {
				position: static;
				overflow-y: visible;
				order: 0;
				width: auto;
				display: block !important;

				&.left {
					order: -1;

					.nav-sub {
						right: auto;
						left: 0;
					}
				}

				&.right {
					order: 101;

					.nav-sub {
						left: auto;
						right: 0;
					}
				}

				&.vertical {
					overflow-y: visible;
					position: static;
					left: auto;
					top: auto;
					bottom: auto;
					width: auto;
					&.left {
						left: auto;
					}
				}

				> ul {
					flex-direction: row;
				}

				.nav-sub {
					position: absolute;
					top: 100%;
				}
			}
		}
	}
}

.nav-toggle {
	display: block;

	&.left {
		order: -2;
	}

	&.right {
		order: 102;
	}

	@each $break, $width in $breakpoints {
		@include breakpoint($break) {
			&.nav-break-#{$break} {
				display: none;
			}
		}
	}
}
