html,
body {
	font-family: $engine-font-family-text;
	font-size: $engine-font-size-base;
	line-height: $engine-font-line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $engine-font-family-title;
	line-height: 1em;
	margin: 1em 0 0.5em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em
}

h5 {
	font-size: 1.1em
}

h6 {
	font-size: 1em
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

p,
pre {
	margin-top: 0;
	margin-bottom: 0.5em;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0.5em;
	padding-left: 2em;

	>li {
		margin-top: 0.1em;
		margin-bottom: 0.1em;
	}

	&.unstyled {
		list-style: none;
	}

	&.iconized {
		list-style: none;
		padding-left: 0;

		li {

			>i,
			>img {
				font-size: 1em;
				width: 2em;
				text-align: center;
			}
		}
	}
}

pre,
code {
	font-family: $engine-font-family-code;
}
