.video {
	display: block;
	width: 100%;
	position: relative;

	&::before {
		content: '';
		display: block;
		padding-top: 9/16*100%;
	}

	>iframe,
	>video {
		position: absolute;
		top: 0;
		left: 0;
		border: 0;
		width: 100%;
		height: 100%;
	}

	&.video-4by3 {
		&::before {
			padding-top: 3/4*100%;
		}
	}

	&.video-21by9 {
		&::before {
			padding-top: 9/21*100%;
		}
	}
}
